<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Video Processing</title>
  </head>
  <body class="h-screen w-full">
    <h1 class="text-center m-12 font-bold text-2xl">Realtime counter</h1>
    <div class="flex flex-col justify-center items-center">
      
      <div class="w-1/2 flex flex-col justify-center items-center">
        <p class="text-center">
          Welcome to our advanced AI solution designed for real-time people
          counting in CCTV footage! Leveraging the power of YOLO (You Only Look
          Once), a cutting-edge object detection model, our application provides
          accurate and efficient counting of individuals within your video feed.
          This innovative technology enables seamless integration and instant
          insights, allowing you to monitor crowd sizes, optimize space
          utilization, and enhance overall security with unparalleled precision.
        </p>
        <button class="mt-12 px-4 py-2 bg-black rounded-full w-1/4 text-white">
          <a href="./main">Try the app out here</a>
        </button>
      </div>
    </div>
  </body>
</html>
